@import url("style.css");
@import url("quantityButton.css");

h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 54px;
}

.cart-products {
  width: 1020px;
  margin: 52px auto;
}
.cart-product-header {
  background: var(--gray-background-color);
  display: grid;
  grid-template-columns: 70px 1fr 150px 200px;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  /* padding: 0 30px; */
}
h3 {
  font-size: 18px;
  font-weight: 400;
}
input#select-all {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}
.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-container {
  position: relative;
  display: inline-block;
}

.checkbox-container label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  /* left: 10px; */
}

.checkbox-container label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  background-color: var(--white-color);
}

.checkbox-container input[type="checkbox"]:checked + label::after {
  content: url("../../public/assets/check-box-circle.svg");
  position: absolute;
  left: 4px;
  top: 1.5px;
  color: var(--white-color);
  font-size: 16px;
  line-height: 20px;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cart-item {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px 0;
  position: relative;
}
.cart-item img.product-image {
  border-radius: 10px;
  width: 160px;
  height: 160px;
}
.cart-item .product-detail {
  display: flex;
  gap: 36px;
}
.cart-item .product-info {
  display: flex;
  flex-direction: column;
}
.cart-item .product-info div {
  display: flex;
  height: 100%;
  gap: 10px;
  flex-direction: column;
  text-align: left;
}
.cart-item .store-name {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-text-color);
}
.cart-item .product-name {
  font-size: 18px;
  font-weight: 400;
}
.cart-item .product-price {
  font-size: 16px;
  font-weight: 700;
}
.cart-item .shipping-info {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-text-color);
  line-height: 24px;
}
article.cart-item {
  display: grid;
  grid-template-columns: 70px 1fr 150px 200px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.cart-item .total {
  display: flex;
  flex-direction: column;
  jusify-content: center;
  align-items: center;
  gap: 26px;
}
.cart-item .total-price {
  font-size: 18px;
  font-weight: 700;
  color: var(--error-color);
}
.cart-item .order-button {
  font-size: 16px;
  font-weight: 500;
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: 5px;
  display: flex;
  padding: 10px 35.37px;
}
section.total-count {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.03px;
  text-align: center;

  background: var(--gray-background-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 46px 0;
  margin-top: 80px;
}
.total-count div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.total-count .value {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.total-count .value em {
  font-size: 24px;
  font-weight: 700;
  line-height: 30.05px;
}
.total-price .value {
  color: var(--error-color);
}
.remove-confirm-modal,
.quantity-change-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000;
  width: 360px;
  height: 200px;
  border: 1px solid #c4c4c4;
}

.modal-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
}

.modal-button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.modal-button {
  border: 1px solid #c4c4c4;
  padding: 10px 34.25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}
.modal-button#cancel {
  background: var(--white-color);
  color: var(--gray-text-color);
}
.modal-button#confirm {
  background: var(--primary-color);
  color: var(--white-color);
}
.quantity-change-input:disabled {
  background: var(--white-color);
}
button.remove {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 22px;
  height: 22px;
  border: none;
  background: none;
}

button.remove::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-image: url("../../public/assets/icon-delete.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.modal-content .quantity-change-button button:disabled {
  background: var(--gray-background-color);
}
