@import url("style.css");
body {
  margin: 10vh 0 0 0;
}
.logo {
  display: block;
  margin: 0 auto;
}
.login-container {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
}
.select-usertype-buttons {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.select-usertype-buttons button {
  flex-grow: 1;
  border: 1px solid var(--border-color);
}
.select-usertype-buttons button.active {
  background-color: var(--white-color);
  border-bottom-color: var(--white-color);
}
button {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 14px 35px;
  padding-bottom: 36px;
  border-radius: 0 0 10px 10px;
}
input {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.error-message {
  display: none;
  color: var(--error-color);
  margin-top: 26px;
  margin-bottom: -10px;
  text-align: left;
}

.login-form button {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--white-color);
  font-weight: 700;
  margin-top: 36px;
}
.link-container {
  margin-top: 30px;
  padding: 10px;
}
.link-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
}

.link-container a {
  padding: 10px 15px;
}
