@import url("style.css");

.logo {
  display: block;
  margin: 0 auto;
}
body {
  margin: 10vh 0 110px 0;
}
.signup-container {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
}
.select-usertype-buttons {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.select-usertype-buttons button {
  flex-grow: 1;
  border: 1px solid var(--border-color);
}
.select-usertype-buttons button.active {
  background-color: var(--white-color);
  border-bottom-color: var(--white-color);
}
button {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.form-inputs {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 40px 35px;
  padding-bottom: 36px;
  border-radius: 0 0 10px 10px;
}
form label {
  text-align: left;
  color: var(--gray-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.03px;
  margin-bottom: 10px;
}
form label:not(:first-child) {
  margin-top: 12px;
}
input,
select {
  padding: 16px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 16px;
}

input:focus,
select:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}
input.active {
  border: 1px solid var(--primary-color);
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/assets/icon-down-arrow.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  padding-right: 30px;
  cursor: pointer;
}

.phone-container select {
  padding-right: 0;
}
.password-error-message {
  display: none;
  color: var(--error-color);
  margin-top: 10px;

  text-align: left;
}
.id-message {
  color: var(--primary-color);
  margin-top: 10px;
  text-align: left;
}
.id-message.error {
  color: var(--error-color);
}
input.error {
  border-color: var(--error-color);
}

form button {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--white-color);
  font-weight: 700;
  /* margin-top: 36px; */
}
.id-container {
  display: flex;
  gap: 12px;
}
.phone-container {
  display: flex;
  gap: 12px;
  width: 100%;
}
.phone-container input {
  flex: 1 1 0;
  min-width: 0;
}

input#password {
  background-image: url("../../public/assets/icon-check-off.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 28px 28px;
}

button#double-check {
  font-weight: 500;
  padding: 17px 31px;
  /* display: flex; */
}
.link-container {
  margin-top: 30px;
  padding: 10px;
}
.link-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
}

.link-container a {
  padding: 10px 15px;
}
.terms-and-conditions {
  margin: 34px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.03px;
  text-align: left;
  color: var(--gray-text-color);
  cursor: pointer;
}

.terms-and-conditions a {
  font-weight: 700;
  border-bottom: 1px solid var(--gray-text-color);
  margin-bottom: 10px;
}

.register {
  width: 100%;
}
